{% extends "core/html/index.html" %}
{% block title %}
<title>Portafolio</title>
{% endblock %}
{% load static %}
{% block content %}
{% comment %} {% include "portfolio/html/modal_project.html" %} {% endcomment %}

<section id="portfolio" class="py-5 bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="display-5 fw-bold">Mi Portafolio</h2>
                <p class="text-muted">Proyectos en los que he trabajado, mostrando mis habilidades y experiencia.</p>
            </div>
        </div>
        <div class="row">
          
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="{% static 'core/img/cofi.png' %}" class="card-img-top" alt="">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Landing page con temática Cafeteria</h5>
                        
                        <div class="d-flex justify-content-start align-items-center mb-3">
                            <img src="{% static 'core/img/django-icon.png' %}"class="me-2" style="width: 30px; height: 30px;">      <!-- aqui va el icono de la tecnología -->
                        </div>
                        
                        <!-- Espacio para botón y enlace con espacio extra para alinear -->
                        <div class="mt-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCafeteria">
                                Ver Proyecto
                            </button>
                            <a href="https://github.com/Suarez115/Cafeter-a-landing-page" class="btn btn-secondary mt-2">Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="{% static 'core/img/covid.png' %}" class="card-img-top" alt="">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Sistema que registra síntomas covid-19</h5>
                        
                        <div class="d-flex justify-content-start align-items-center mb-3">
                            <img src="{% static 'core/img/csharp-icon.png' %}"class="me-2" style="width: 30px; height: 30px;">      <!-- aqui va el icono de la tecnología -->
                        </div>
                        
                        <!-- Espacio para botón y enlace con espacio extra para alinear -->
                        <div class="mt-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCovid">
                                Ver Proyecto
                            </button>
                            <a href="https://github.com/Suarez115/Sistema-Covid-19" class="btn btn-secondary mt-2">Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="{% static 'core/img/puntoVenta.png' %}" class="card-img-top" alt="">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Sistema de facturación para tienda</h5>
                        
                        <div class="d-flex justify-content-start align-items-center mb-3">
                            <img src="{% static 'core/img/csharp-icon.png' %}"class="me-2" style="width: 30px; height: 30px;">      <!-- aqui va el icono de la tecnología -->
                        </div>
                        
                        <!-- Espacio para botón y enlace con espacio extra para alinear -->
                        <div class="mt-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPuntoVenta">
                                Ver Proyecto
                            </button>
                            <a href="https://github.com/Suarez115/Punto-de-venta" class="btn btn-secondary mt-2">Ver Código</a>
                        </div>
                    </div>
                </div>
            </div>

          
      <!-- Modal para el proyecto Cafetería -->
            <div class="modal fade" id="modalCafeteria" tabindex="-1" aria-labelledby="modalCafeteriaLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCafeteriaLabel">Landing Page Cafetería</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="carruselCafeteria" class="carousel slide" data-bs-ride="carousel">
                                <!-- Indicadores -->
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carruselCafeteria" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carruselCafeteria" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carruselCafeteria" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <!-- Contenido del carrusel -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'core/img/Cafe1.png' %}" class="d-block w-100" alt="Imagen del proyecto 1">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'core/img/Cafe2.png' %}" class="d-block w-100" alt="Imagen del proyecto 2">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="{% static 'core/img/Cafe3.png' %}" class="d-block w-100" alt="Imagen del proyecto 3">
                                    </div>
                                </div>
                                <!-- Controles -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#carruselCafeteria" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carruselCafeteria" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>
                        </div>
                        <div class="project-info mt-3 text-center">
                                <h5>Descripción breve del proyecto</h5>
                                <p>
                                    Este es una landing page con temática de cafetería Europea la cual fue desarrollada en el framework de python, django
                                </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repite el bloque de tarjetas y modales para cada proyecto -->
        <div class="modal fade" id="modalCovid" tabindex="-1" aria-labelledby="modalCovidLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCovidLabel">Sistema estadistico Covid-19</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="carruselCovid" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
                            <!-- Indicadores -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carruselCovid" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carruselCovid" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carruselCovid" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carruselCovid" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <!-- Contenido del carrusel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'core/img/covis1.png' %}" class="d-block w-100" alt="Imagen del proyecto 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'core/img/covis2.png' %}" class="d-block w-100" alt="Imagen del proyecto 2">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'core/img/covis3.png' %}" class="d-block w-100" alt="Imagen del proyecto 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'core/img/covis4.png' %}" class="d-block w-100" alt="Imagen del proyecto 4">
                                </div>
                            </div>
                            <!-- Controles -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carruselCovid" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carruselCovid" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>

                    <div class="project-info mt-3 text-center">
                                <h5>Descripción breve del proyecto</h5>
                                <p>
                                Este es un completo sistema diseñado para los servicios medicos el cual permite la completa gestion de usuarios del sistema con sus respectivos roles
                                con la capacidad de registro de pacientes para tomar sus sintomas, el sistema posee un módulo basado en el registro de sistomas despliega diferentes 
                                graficos con estadisticas guardadas
                                </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

         <div class="modal fade" id="modalPuntoVenta" tabindex="-1" aria-labelledby="modalCovidLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCovidLabel">Sistema de facturación para Punto de Venta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="carruselVenta" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
                            <!-- Indicadores -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carruselVenta" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carruselVenta" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carruselVenta" data-bs-slide-to="2" aria-label="Slide 3"></button>
                           
                            </div>
                            <!-- Contenido del carrusel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'core/img/puntoVentaLogin.png' %}" class="d-block w-100" alt="Imagen del proyecto 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'core/img/puntoVenta1.png' %}" class="d-block w-100" alt="Imagen del proyecto 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'core/img/puntoVenta2.png' %}" class="d-block w-100" alt="Imagen del proyecto 4">
                                </div>
                            </div>
                            <!-- Controles -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carruselVenta" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carruselVenta" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                         <div class="project-info mt-3 text-center">
                                <h5>Descripción breve del proyecto</h5>
                                <p>Este es un sistema de facturación pensado para una tienda en el cual permite manejar operaciones CRUD enviando facturas al cliente por correo trabajado en C# bajo el framework .NET</p>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>











        </div>
    </div>
</section>



    </div>
</section>

{% endblock %}
